---
import { HERO } from "@/data/content/hero";
---

<section class="hero-textonly" aria-labelledby="main-seo">
  <div class="container">
    <h1 id="main-seo">{HERO.heading}</h1>
    <p id="sub-main-seo">{HERO.description}</p>
  </div>
</section>
